@import '@styles/colors';

.sider {
    overflow: auto;
    height: 100vh;
    position: sticky;
    top: 0;
    left: 0;
    background-color: $mediumGrey;

    &__logo {
        height: 32px;
        margin: 16px auto;
        display: flex;
        justify-content: center;
        background-color: $mediumGrey;
    }

    &__menu {
        background-color: transparent;
        display: flex;
        flex-direction: column;
        height: calc(100% - 66px);
        justify-content: flex-start;
        align-items: center;
        position: relative;

        .lastMenuItem {
            margin-top: auto;

            button {
                background-color: transparent;
                border: none;
                outline: none;
            }
        }

        &__item {
            padding: 5px;
            justify-content: center !important;
            align-items: center;
            width: 80% !important;
            height: 14% !important;
            border-radius: 5px !important;

            > img:first-of-type {
                font-size: 3vw;
            }

            > span {
                margin: 0 !important;

                &:first-of-type {
                    display: grid !important;
                    grid-template-rows: 60% 20%;
                    font-weight: bold;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 1.17;
                    letter-spacing: normal;
                    text-align: center;
                    color: $darkBlue;
                }
            }
        }
    }
}

.header {
    padding: 0 4.4vw 0 2.3vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 48px;
    box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px inset;
    overflow: hidden;

    &__notifications {
        margin-right: 3.1vw;
        font-size: 1vw;
    }

    &__img {
        img {
            border-radius: 50%;
        }

        cursor: pointer;
        display: flex;
        border-radius: 50%;
        margin: 0 5px;
        border: solid 2px $greyShadow;
        box-shadow: 0 5px 10px 0 rgba(102, 111, 232, 0.2);
    }

    &__btn {
        background-color: $pinkBG;
        color: $white;
        line-height: 1.5715;
        position: relative;
        display: inline-block;
        font-weight: 400;
        white-space: nowrap;
        text-align: center;
        background-image: none;
        border: 1px solid transparent;
        -webkit-box-shadow: 0 2px 0 rgb(0 0 0 / 2%);
        box-shadow: 0 2px 0 rgb(0 0 0 / 2%);
        cursor: pointer;
        -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
        transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
        touch-action: manipulation;
        height: 32px;
        padding: 4px 15px;
        font-size: 14px;
        border-radius: 7px;
        text-transform: none;
        -webkit-appearance: button;

        a {
            color: $white;
        }
    }

    a {
        color: $darkBlue;
    }
}

.content {
    margin: 0 4.4vw 0 2.3vw;
    overflow: initial;

    > div:first-of-type {
        padding-top: 24px;
        background: $white;
        text-align: center;
    }
}
