@import '@styles/colors';

.doctorStatusBox {
    border: 2px solid $borderBox;
    width: 13vw;
    height: 12vw;
    background-color: transparent;
    display: grid;
    grid-template-rows: 65% 20% 15%;
    grid-column-gap: 2px;
    padding: 1vw 0.8vw;
    padding-bottom: 0;
    cursor: pointer;
    margin-bottom: 0.1vw;
    margin-left: -22.5%;

    picture {
        height: 100%;
        width: 100%;

        img {
            width: 100%;
            height: 100%;
        }
    }

    h3 {
        height: 100%;
        width: 100%;
        font-weight: 900;
        color: $darkBlue;
        font-size: 0.8vw;
    }

    p {
        height: 100%;
        width: 100%;
        font-size: 0.6vw;
    }

    &.active {
        background-color: $activeBox;
        border: none;
    }
}
