@import '@styles/colors';

.doctorStatusBox {
    border: 2px solid $borderBox;
    width: 13vw;
    height: 12vw;
    background-color: transparent;
    display: grid;
    grid-template-rows: 65% 30%;
    grid-column-gap: 2px;
    padding: 1vw 0.8vw;
    padding-bottom: 0;
    cursor: pointer;
    margin-bottom: 0.1vw;
    justify-content: center;
    align-content: space-between;
    text-align: center;
    float: left;

    picture {
        height: 100%;
        width: 95%;

        img {
            width: 80%;
            height: 100%;
        }
    }

    h3 {
        height: 100%;
        width: 100%;
        font-weight: 900;
        color: $darkBlue;
        font-size: 1vw;
    }

    p {
        height: 100%;
        width: 100%;
        font-size: 0.9vw;
    }

    &.active {
        background-color: $activeBox;
        border: 2px solid transparent;
    }
}

@media screen and (max-width: 600px) {
    .doctorStatusBox {
        display: grid;

        grid-template-rows: 50% 50%;

        h3 {
            font-size: 1.5vw;
        }
    }
}
