@import '@styles/colors';

.content {
    min-height: 200px;
    margin-top: 16px;
    padding: 10px;
    text-align: center;
    background-color: #fafafa;
    border: 1px dashed #e9e9e9;
    border-radius: 2px;
    width: 75%;
    margin: auto;
    box-shadow: 0 5px 10px 0 $mediumGrey;
    border: solid 1px rgba(102, 111, 232, 0.08);
    background-color: $white;
    box-shadow: 0px 5px 10px 0px $mediumGrey;
}

.action {
    margin-top: 24px;
    text-align: left;
    width: 75%;
    margin: 24px auto;
    border: none;
}

.steps {
    display: flex;
    width: 75%;
    margin: auto;

    > :first-child {
        flex: 1;
    }

    > :nth-child(2) {
        flex: 4;
        text-align: left;
    }
}
