$white: #fff;
$black: #000;
$darkBlue: #002c44;
$mediumGrey: #fafafa;
$lightBlue: #d5edf4;
$pinkBG: #ee3d60;
$danger: #ef2323;
$success: #12bf5c;
$greyShadow: #f5f6fb;
$borderGrey: #ededed; //pagination
$blueText: #005792;
