$white: #fff;
$black: #000;
$darkBlue: #042c44;
$mediumGrey: #fafafa;
$blue: #005792;
$lightBlue: #d5edf4;
$pinkBG: #ee3d60;
$danger: #ef2323;
$success: #12bf5c;
$gray: #8798ad;
$greyShadow: #f5f6fb;
$borderGrey: #ededed; //pagination
$borderDarkTransparent: rgba(102, 111, 232, 0.08);
$blueText:#005792
