.title-1 {
    font-weight: bold;
    font-family: 'gothic-bold';
    font-size: 28px;
    line-height: 24px;
    letter-spacing: 0px;
}
.title-2 {
    font-family: 'gothic';
    font-size: 25px;
    line-height: 31px;
    letter-spacing: 0px;
}
.title-3 {
    font-weight: bold;
    font-family: 'gothic-bold';
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0px;
}
.title-4 {
    font-family: 'gothic';
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0px;
    color: red;
}