@import "./colors";
@import './viewportText';
@import './responsive';

html {
    @include fluid-type($min_width, $max_width, $min_font, $max_font);
}

.textCenter {
    text-align: center
}

.ant-layout-sider-trigger {
    background-color: $mediumGrey !important;
    color: $darkBlue !important;
}

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
    background-color: $mediumGrey !important;

    &::after {
        border-right: 3px solid $darkBlue;

    }
}

.ant-menu-item-selected {
    color: $darkBlue !important;
}